<div class="boxHeader">
  <h1>Tic-Tac-Toe by anzivinojul</h1>
</div>

<div class = "boxContent">

  <main>
      <app-square
          *ngFor="let val of squares; let i = index"
          [value]="val" [player]="player"
          (click)="move(i)">

      </app-square>
  </main>

  <div class = "boxContentFooter">
    <div class="wrapper">
      <a class="button" (click) = "newGame()" href="#">
        <span>REJOUER</span>
      </a>
    </div>

    <h2 *ngIf="winner">
      {{ winner }} a gagné la partie!
    </h2>
  </div>

</div>
